<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body ng-app="chatApp">
    <div ng-controller="chatCtrl as ctrl" class='{{ctrl.iam}}'>
      <div>Total chats: {{ctrl.chatsCount}}<div>
      <div>Boys in queue: {{ctrl.boysCount}}<div>
      <div>Girls in queue: {{ctrl.girlsCount}}<div>
      <button ng-show="!ctrl.socket" ng-click="ctrl.asGirl()">Girl</button>
      <button ng-show="!ctrl.socket" ng-click="ctrl.asBoy()">Boy</button>
      <div ng-show="!!ctrl.socket">
        Messages:<br>
        <div ng-repeat="msg in ctrl.messages" class="{{msg.sender}}">
          [{{msg.sender}}]:{{msg.message}}
        </div>
        <input ng-disabled="!ctrl.chatExists" ng-model="ctrl.message" placeholder="type message..."/>
        <button ng-disabled="!ctrl.chatExists" ng-click="ctrl.sendMessage()">Send</button>
      </div>
    </div>

    <style>
      .unknown{
        background: gray;
      }
      .she, .girl{
        background: pink;
      }
      .he, .boy{
        background: skyblue;
      }

    </style>
    <script>
      angular
      .module('chatApp',[])
      .controller('chatCtrl',
      function($scope){
        var context= this;
        this.iam = "unknown";
        this.messages = [];
        this.message = null;
        context.chatExists = false;

        this.init = function(){
          context.info = io.connect('http://localhost:4040/info');
          context.info.on('chats', function(chats){
            context.chatsCount = chats.count;
            $scope.$apply();
          });

          context.info.on('girls',function(girls){
            context.girlsCount = girls.count;
            $scope.$apply();
          })

          context.info.on('boys',function(boys){
            context.boysCount = boys.count;
            $scope.$apply();
          })
        }

        this.asGirl = function(){
          context.iam="girl";
          context.socket = io.connect('http://localhost:4040/girls');
          context.socket.on("message",function(message){
            context.messages.push(message);
            $scope.$apply();            
          });
          context.socket.on("chatCreated",function(){
            context.chatExists = true;
            $scope.$apply();            
          });

          context.socket.on("disconnect",function(){
            context.socket = null;
            context.chatExists = false;
            context.messages = [];
            $scope.$apply();       
          });
        };
      
        this.asBoy = function(){
          context.iam="boy";
          context.socket = io.connect('http://localhost:4040/boys');
          context.socket.on("message",function(message){
            context.messages.push(message);
            $scope.$apply();
          });
          context.socket.on("chatCreated",function(){
            context.chatExists = true;
            $scope.$apply();            
          });
          context.socket.on("disconnect",function(){
            context.socket = null;
            context.chatExists = false;
            context.messages = [];
            $scope.$apply();       
          });
        };
      
        this.sendMessage = function(){
          context.socket.emit("message",context.message);
          context.message = "";
        };

        this.init();
      });
    </script>
  </body>
</html>