<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body ng-app="chatApp">
    <div ng-controller="chatCtrl as ctrl" class='window'>
      <!--class='{{ctrl.iam}}'-->
      <!--<div>Total chats: {{ctrl.chatsCount}}<div>
      <div>Boys in queue: {{ctrl.boysCount}}<div>
      <div>Girls in queue: {{ctrl.girlsCount}}<div>-->
      <div>{{ctrl.chatsCount*2}} users are texting in the moment</div>
      <div>{{ctrl.boysCount + ctrl.girlsCount}} are waiting for the partner</div>
      <button ng-show="!ctrl.socket" ng-click="ctrl.asGirl()">Girl</button>
      <button ng-show="!ctrl.socket" ng-click="ctrl.asBoy()">Boy</button>

      <h3 ng-show="!!ctrl.socket==!ctrl.chatExists==true">Waiting for the partner...</h3>
      
      <div class="panel panel-default" ng-show="!!ctrl.chatExists">
        <div class="panel-heading">Messages</div>
          <div class="panel-body tab-pane">
            <div ng-repeat="msg in ctrl.messages">
              <div class='col-xs-1 {{msg.sender}}'>[{{msg.mine?'me':msg.sender}}]</div>
              <p class='col-xs-11 {{msg.sender}} message'>{{msg.message}}</p>
            </div>
          </div>
        </div>
        <form ng-show="!!ctrl.chatExists">
          <input ng-disabled="!ctrl.chatExists" ng-model="ctrl.message" placeholder="type message..."/>
          <button ng-disabled="!ctrl.chatExists" ng-click="ctrl.sendMessage(1)">Send</button>
        </form>
      </div>
    </div>

    <style>

      .window{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%
      }

      .unknown{
        background: gray;
      }
      .she, .girl{
        background: pink;
      }
      .he, .boy{
        background: skyblue;
      }
      
      .message{
        word-wrap: break-word;
      }

      .tab-pane{
        height: 50%;
        overflow-y:scroll;
        width:100%;
      }

    </style>
    <script>
      angular
      .module('chatApp',[])
      .controller('chatCtrl',
      function($scope){
        var context= this;
        this.iam = "unknown";
        this.messages = [];
        this.message = null;
        context.chatExists = false;

        this.init = function(){
          context.info = io.connect('http://localhost:4040/info');
          context.info.on('chats', function(chats){
            context.chatsCount = chats.count;
            $scope.$apply();
          });

          context.info.on('girls',function(girls){
            context.girlsCount = girls.count;
            $scope.$apply();
          })

          context.info.on('boys',function(boys){
            context.boysCount = boys.count;
            $scope.$apply();
          })
        }

        this.scroll = function(){
          var element = document.getElementsByClassName("tab-pane")[0];
          element.scrollTop = element.scrollHeight;
        };

        this.asGirl = function(){
          context.iam="girl";
          context.socket = io.connect('http://localhost:4040/girls');
          context.socket.on("message",function(message){
            if(message.sender == "she")
              message.mine = true;
            context.messages.push(message);
            $scope.$apply();            
            context.scroll();
          });
          context.socket.on("chatCreated",function(){
            context.chatExists = true;
            $scope.$apply();            
          });

          context.socket.on("disconnect",function(){
            context.socket = null;
            context.chatExists = false;
            context.messages = [];
            $scope.$apply();       
          });
        };
      
        this.asBoy = function(){
          context.iam="boy";
          context.socket = io.connect('http://localhost:4040/boys');
          context.socket.on("message",function(message){
            if(message.sender == "he"){
              message.mine = true;
            }
            context.messages.push(message);
            $scope.$apply();
            context.scroll();
          });
          context.socket.on("chatCreated",function(){
            context.chatExists = true;
            $scope.$apply();            
          });
          context.socket.on("disconnect",function(){
            context.socket = null;
            context.chatExists = false;
            context.messages = [];
            $scope.$apply();       
          });
        };
      
        this.sendMessage = function(){
          context.socket.emit("message",context.message);
          context.message = "";
        };

        this.init();
      });
    </script>
  </body>
</html>